PORT=9898
DATABASE_URL=jdbc:postgresql://aws-0-ap-southeast-2.pooler.supabase.com:6543/postgres?sslmode=require&prepareThreshold=0
DIRECT_URL=jdbc:postgresql://aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres?sslmode=require
DATABASE_USERNAME=postgres.nbtnsizwwdonyjceogyc
DATABASE_PASSWORD=replace-with-supabase-password
JWT_SECRET=replace-with-at-least-32-characters
CORS_ALLOWED_ORIGINS=http://localhost:5173,https://orthoraja.com
ADMIN_EMAIL=admin@orthoraja.com
ADMIN_PASSWORD=replace-with-strong-password
GOOGLE_PLACE_ID=replace-with-google-place-id
GOOGLE_PLACES_API_KEY=replace-with-google-places-api-key
GOOGLE_READ_ALL_REVIEWS_URL=https://www.google.com/maps/place/Dr+Raja+Saha+best+orthopaedics+surgeon/@22.5354064,88.2649509,12z/data=!4m8!3m7!1s0x39f89d16e0a06565:0xfa1cd35e97dd469b!8m2!3d22.5354274!4d88.3473528!9m1!1b1!16s%2Fg%2F11v6fk6hg3?hl=en-GB&entry=ttu&g_ep=EgoyMDI2MDcwOC4wIKXMDSoASAFQAw%3D%3D
GOOGLE_WRITE_REVIEW_URL=https://www.google.com/maps/place/Dr+Raja+Saha+best+orthopaedics+surgeon/@22.5354064,88.2649509,12z/data=!4m8!3m7!1s0x39f89d16e0a06565:0xfa1cd35e97dd469b!8m2!3d22.5354274!4d88.3473528!9m1!1b1!16s%2Fg%2F11v6fk6hg3?hl=en-GB&entry=ttu&g_ep=EgoyMDI2MDcwOC4wIKXMDSoASAFQAw%3D%3D
